<div class="uk-section-small uk-section-default header">
  <div class="uk-container uk-container-large">
    <h1><span class="ion-speedometer"></span> Tareas</h1>
    <ul class="uk-breadcrumb">
      <li><a routerLink="">Inicio</a></li>
      <li><span>Tareas</span></li>
    </ul>
  </div>
</div>

<!-- End No data -->
<div class="uk-section-small" *ngIf="tareas.length == 0">
  <div class="uk-container uk-container-large">
    <div uk-alert>
      <h2>No hay datos <i class="fas fa-table"></i></h2>
    </div>
  </div>
</div>

<div class="uk-section-small" *ngIf="tareas.length != 0">
  <div class="uk-container uk-container-large">
    <div uk-alert>
      <div class="uk-navbar-left">
        <div class="uk-search uk-search-navbar">
          <span uk-search-icon></span>
          <input class="uk-search-input" type="text" [(ngModel)]="term" placeholder="Buscar...">
        </div>
      </div>
    </div>
  </div>
</div>



<div class="uk-section-small" *ngIf="tareas.length != 0">
  <div class="uk-container uk-container-large">
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <div class="uk-overflow-auto">
          <table class="uk-table uk-table-small uk-table-divider">
            <thead>
              <tr>
                <th>id</th>
                <th>rol</th>
                <th>actividad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of tareas | filter:term | paginate: { itemsPerPage: 10, currentPage: p }"
                [shAttachMenu]="menu" (contextmenu)="leftClick(user.id)">
                <td>{{user.id}}</td>
                <td> {{user.rol.descripcion}}</td>
                <td> {{user.actividad.descripcion}}</td>
              </tr>
            </tbody>
          </table>
          <div style="text-align: center;">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="floating-button" style="border-radius: 50%;" routerLink="/tareas/agregar">
  <span class="plus-circle" uk-icon="plus"></span>
</div>

<!-- Clic derecho -->

<sh-context-menu #menu>
  <ng-template shContextMenuItem>
    <div routerLink="/tareas/editar/{{idUser}}" *ngxPermissionsOnly="['ADMIN']">
      <span uk-icon="icon: pencil"></span>
      Editar Tarea
    </div>
  </ng-template>
  <ng-template shContextMenuItem>
    <div routerLink="/tareas/eliminar/{{idUser}}" *ngxPermissionsOnly="['ADMIN']">
      <span uk-icon="icon: trash"></span>
      Eliminar Tarea
    </div>
  </ng-template>
</sh-context-menu>